accelerate>=0.20
kaggle
kagglehub[hf-datasets]
numpy>=1.24
pillow>=9.0
pandas>=2.0
sentencepiece
fastapi>=0.110
torch>=2.0
torchvision
transformers>=4.35
python-multipart>=0.0.9
uvicorn[standard]>=0.27
